
#block-animals-animals_killed {
	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
	font-size: 11px;
	}
#animals-killed {
	color: white;
	background-color: #111;
	font-size: small;
	padding: 4px 0 4px 0.5em;
	}
#animals-killed .ak-counter {
	color: #FF0;
	}
